* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

ul, li {
    list-style-type: none;
}

.alert {
    color: #f61500;
}

.content {
    flex: 1;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;

}

.heading__container {
    padding-top: 40px;
    padding-bottom: 30px;
}

.heading {
    color: #0a0a0a;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.content__wrapper {
    display: flex;
    width: 100%;
    padding: 40px 0;
}

/* _________form___________*/

.form__container {
    padding-right: 300px;
}

.form__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-left: 10px;
}

.field__heading {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
}

.field__wrapper {
    max-width: 600px;
    width: 100%;
    padding-bottom: 20px;
}

.field {
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border: #a1a09a 2px solid;
}

.field:focus {
    border: darkgreen 2px solid;
    outline: none;
}

.textarea {
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    min-height: 120px;
    width: 100%;
    border: #a1a09a 2px solid;
}

.textarea:focus {
    border: darkgreen 2px solid;
    outline: none;
}

.input-photo__wrapper {
    padding: 20px 0 20px;
    border: none;
    font-size: 18px;
    line-height: 22px;
    display: block;
}

.input-photo {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    cursor: pointer;
}

.input-photo__heading {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: darkgreen;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.input-photo__heading:hover {
    background-color: #a1a09a;
}

/* ___________left-side__________*/

.left-side__wrapper {
    padding: 20px;
    border-right: #a1a09a 6px solid;
    min-width: 350px;
}

.category__wrapper {
    padding-bottom: 10px;
}

.category {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #a1a09a;
    text-transform: uppercase;
}

/* _______notification_______*/

.notification__wrapper {
    display: flex;
    flex-direction: column;
    padding: 100px;
    align-items: center;
    margin: 0 auto;
}

.notification {
    font-size: 18px;
    font-weight: 500;
}

/* ______sort__________*/

.sort__heading {
    font-size: 18px;
}

.sort__wrapper {
    width: 100%;
    text-align: end;
}

.sort__form {
    padding: 40px 80px 0 0;
}

.sort__field {
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
}

.sort__field:focus {
    outline: none;
    border: darkgreen 2px solid;
}

/* _________login___________*/

.register__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #a1a09a;
    cursor: pointer;
}

/* __________footer_________ */

.footer {
    font-family: "Montserrat", sans-serif;
    background-color: darkgreen;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.footer__container {

}

/* _____button______*/

.button__wrapper {
    min-width: 270px;
    padding: 40px 0;
    border: none;
    font-size: 18px;
    line-height: 22px;
    display: flex;
}

.button {
    all: unset;
    background: darkgreen;
    color: #FFFFFF;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* ________filter________ */

.filter {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 70%;
}

.filter__wrapper {
    padding-top:20px;
}

/* ____________search_____________ */

.search__container {
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    column-gap: 40px;
    width: 100%;
    justify-content: center;
}

.search__wrapper {
    display: flex;
    width: 100%;
    padding-left: 80px;
}

.search__field {
    height: 40px;
    max-width: 800px;
    width: 100%;
    font-size: 18px;
    padding-left: 10px;
    border: #a1a09a 2px solid;
    border-radius: 10px 0 0 10px;
}

.search__field:focus {
    outline: none;
    border: darkgreen 2px solid;
}

.nodata__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 100%;
}

.nodata__wrapper {
    max-width: 170px;
    max-height: 170px;
    padding-top: 60px;
    margin-bottom: 20px;
}

.nodata__img {
    width: 100%;
    background-color: #FFFFFF;
}

.nodata__item {
    color: #0a0a0a;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.search__button-wrapper {
    width: 60px;
    height: 40px;
    border: #a1a09a 2px solid;
    border-left: none;
    border-radius: 0 10px 10px 0;
    background-color: darkgreen;
}

.search__button-wrapper:hover {
    background-color: #a1a09a;
}

.search__button {
    width: 50%;
    height: auto;
    color: #FFFFFF;
}

/* _____________header_____________ */

.header {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
}

.header__logo-wrapper {
    display: flex;
    padding: 2px;
    max-width: 60px;
    margin-right: 18px;
}

.header__logo {
    width: 100%;
    height: auto;
}

.header__container {
    background-color: darkgreen;
}

.header__container-up {
    max-width: 1400px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}

.header__menu {
    display: flex;
}

.header__menu-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.3s linear;
}

.header__menu-user {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.header__menu-link:hover {
    font-size: 16px;
}

.header__menu-link:active {
    color: #F5F5F5;
    font-size: 16px;
}

.header__menu-item {
    display: flex;
    list-style-type: none;
    margin-right: 18px;
    align-items: center;
}

.header__menu-item:last-child {
    margin-right: 0;
}

.header__name-item {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    color: #FFFFFF;
    font-weight: bold;
    transition: all 0.3s linear;
}

.header__name-item:hover {
    font-size: 24px;
}



.header__account {
    width: 80%;
    height: auto;
    margin: auto;
}

.header__cart {
    height: 60%;
    margin: auto;
}

/* _______product__________*/

.products {
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    text-align: center;
    column-gap: 40px;
    row-gap: 40px;
    margin: 0 auto;
}

.product {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.product__image-wrapper {
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    max-height: 200px;
    max-width: 200px;
    margin-bottom: 10px;
    border: #a1a09a 1px solid;
    overflow: hidden;
}

.product__image-item {
    width: 100%;
    height: auto;
    margin: auto 0;
}


.no__image {
    max-width: 198px;
    max-height: 198px;
    width: 100%;
    height: 100%;
    border: #a1a09a 1px solid;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 26px;
    color: #a1a09a;
    text-transform: uppercase;
    background-image: radial-gradient(#d3d2cf, #FFFFFF);
}

.product__price-wrapper {
    line-height: 28px;
    font-size: 24px;
    font-weight: bold;
}

.product__name-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
}

.product__name-wrapper:hover {
    background-color: #a1a09a;
    border-radius: 10px;
}

.product__name {
    text-decoration: none;
    color: #0a0a0a;
}

.product__name:hover {
    color: #ffffff;
}

.date {
    color: #a1a09a;
    font-size: 14px;
    font-weight: 500;
}

/* _____________pagination__________*/

.custom-pagination ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.custom-pagination li {
    margin: 0 5px;
}

.custom-pagination li a {
    padding: 8px 12px;
    background: #eee;
    border-radius: 4px;
    text-decoration: none;
    color: darkgreen;
}

.custom-pagination li.active span,
.custom-pagination li a:hover {
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    background: darkgreen;
    color: #eee;
}

.custom-pagination li.disabled span {
    color: #999;
    cursor: not-allowed;
}

/* ____________show___________*/

.product-show__wrapper {
    display: block;
    padding-left: 40px;
    padding-bottom: 80px;
}

.product-show {
    display: flex;
    width: 100%;
    margin: 60px 0 40px 0;
}

.image-show__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 450px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: #a1a09a 1px solid;
}

.no__image-show {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    font-weight: bold;
    font-size: 32px;
    color: #a1a09a;
    text-transform: uppercase;
    background-image: radial-gradient(#d3d2cf, #FFFFFF);
}

.product-show__information {
    display: block;
    padding-left: 40px;
}

/* ____________slider_____________*/

.slider {
    max-width: 450px;
    max-height: 450px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    border: #a1a09a 1px solid;
}

.slider__line {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.slider__img {
    min-width: 450px;
    overflow: hidden;
    height: auto;
}

.slider__btn-prev {
    position: absolute;
    left: 0;
    top: 47%;
    font-size: 30px;
    color: #a1a09a;
    background-color: transparent;
    border: #a1a09a 1px solid;
    border-radius: 10px;
    line-height: 1;
}

.slider__btn-next {
    position: absolute;
    left: 418px;
    top: 47%;
    font-size: 30px;
    color: #a1a09a;
    background-color: transparent;
    border: #a1a09a 1px solid;
    border-radius: 10px;
    line-height: 1;
}

.slider__btn-prev:hover,
.slider__btn-next:hover {
    color: #d1cccc;
    background-color: #a1a09a;
}

/* ______map________*/

.map {
    width: 600px;
    height: 400px;
    margin-top: 40px;
}
