* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

ul, li {
    list-style-type: none;
}

.alert {
    color: #f61500;
}

.container {
    width: 100%;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;

}

.description {
    font-size: 14px;
    font-weight: 500;
}

.heading__container {
    padding-top: 40px;
    padding-bottom: 30px;
}

.heading {
    color: #0a0a0a;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.heading__h4 {
    color: #0a0a0a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}


.content__wrapper {
    display: flex;
    width: 100%;
    padding: 40px 0;
}

/* _________form___________ */

.form__container {
}

.form__wrapper {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    padding: 60px 10px;
}

.field__heading {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
}

.field__wrapper {
    width: 100%;
    padding-bottom: 20px;
}

.field {
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border: #a1a09a 2px solid;
}

.field:focus {
    border: darkgreen 2px solid;
    background-color: #eefaf3;
    outline: none;
}

.textarea {
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    min-height: 120px;
    width: 100%;
    border: #a1a09a 2px solid;
}

.textarea:focus {
    border: darkgreen 2px solid;
    outline: none;
}

.field__current-photos {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.field__photo-item {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.checkbox__wrapper {
    margin-top: 5px;
    text-align: center;
}


.checkbox__wrapper-label {
    font-size: 12px;
    cursor: pointer;
}

.preview__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 15px 0;
}

.preview__item {
    position: relative;
    width: 80px;
    height: 80px;
}

.preview__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.preview__remove {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #cce8d5;
    color: darkgreen;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

/* ___________left-side__________ */

.left-side__wrapper {
    padding: 20px;
    border-right: #a1a09a 6px solid;
    min-width: 350px;
}

.category__wrapper {
    padding-bottom: 10px;
}

.category {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #a1a09a;
    text-transform: uppercase;
}

/* _______notification_______ */

.notification__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.notification {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

/* ______sort__________ */

.sort__heading {
    font-size: 18px;
}

.sort__wrapper {
    width: 100%;
    text-align: end;
}

.sort__form {
    padding: 40px 80px 0 0;
}

.sort__field {
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
}

.sort__field:focus {
    outline: none;
    border: darkgreen 2px solid;
}

/* _________login___________ */

.register__wrapper-link {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.register__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #a1a09a;
    cursor: pointer;
}

/* __________footer_________ */

.footer {
    margin-top: auto;
    font-family: Montserrat, sans-serif;
    background-color: darkgreen;
    padding: 15px 0;
}

.footer__container {
    color: #fff;
    text-align: center;
}

/* _____button______ */

.button__wrapper {
    width: 100%;
    padding: 20px 0;
    border: none;
    line-height: 22px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin: 0 auto;
}

.button {
    all: unset;
    background: darkgreen;
    color: #FFF;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.button:hover {
    font-size: 18px;
    transition: font-size 0.3s linear;
}

.button__input-photo {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    cursor: pointer;
}

/* ________filter________ */

.filter {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 70%;
}

.filter__wrapper {
    padding-top: 20px;
}

.check-photo__wrapper {
    cursor: pointer;
}

/* ____________search_____________ */

.search__container {
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    column-gap: 40px;
    width: 100%;
    justify-content: center;
}

.search__wrapper {
    display: flex;
    flex: 0 0 70%;
    padding-left: 80px;
}

.search__field {
    height: 40px;
    max-width: 800px;
    width: 100%;
    font-size: 18px;
    padding-left: 10px;
    border: #a1a09a 2px solid;
    border-radius: 10px 0 0 10px;
}

.search__field:focus {
    outline: none;
    background-color: #eefaf3;
    border: darkgreen 2px solid;
}

.search__field:-webkit-autofill,
.search__field:-webkit-autofill:hover,
.search__field:-webkit-autofill:focus,
.field:-webkit-autofill,
.field:-webkit-autofill:hover,
.field:-webkit-autofill:focus{
    box-shadow: 0 0 0 1000px #eefaf3 inset !important;
}

.nodata__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 100%;
}

.nodata__wrapper {
    max-width: 170px;
    max-height: 170px;
    padding-top: 60px;
    margin-bottom: 20px;
}

.nodata__img {
    width: 100%;
    background-color: #FFF;
}

.nodata__item {
    color: #0a0a0a;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.search__button-wrapper {
    width: 60px;
    height: 40px;
    border: #a1a09a 2px solid;
    border-left: none;
    border-radius: 0 10px 10px 0;
    background-color: darkgreen;
}

.search__button {
    width: 35%;
    color: #FFF;
}

.search__button:hover {
    width: 45%;
    transition: width 0.3s linear;
}

/* _____________header_____________ */

.header {
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-direction: column;
}

.header__logo-wrapper {
    display: flex;
    align-items: center;
    padding: 2px;
    max-width: 60px;
}

.header__logo {
    width: 100%;
}

.header__container {
    background-color: darkgreen;
}

.header__container-up {
    max-width: 1400px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    place-items: center center;
    margin: 0 auto;
}

.header__menu {
    display: flex;
}

.header__menu-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFF;
    text-decoration: none;
    transition: all 0.3s linear;
}

.header__menu-user {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFF;
}

.header__menu-link:hover {
    font-size: 16px;
}

.header__menu-link:active {
    color: #F5F5F5;
    font-size: 16px;
}

.header__menu-item {
    display: flex;
    list-style-type: none;
    margin-right: 18px;
    align-items: center;
}

.header__menu-item:last-child {
    margin-right: 0;
}

.header__name-item {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    color: #FFF;
    font-weight: bold;
    transition: all 0.3s linear;
}

.header__name-item:hover {
    font-size: 24px;
}


.header__account {
    width: 80%;
    height: auto;
    margin: auto;
}

.header__cart {
    height: 45%;
    margin: auto;
}

.cart__count {
    display: flex;
    place-content: center;
    font-size: 12px;
    font-weight: 600;
    background-color: #cce8d5;
    border-radius: 3px;
    color: darkgreen;
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

/* _______product__________ */

.products {
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: fit-content(420px);
    text-align: center;
    gap: 40px;
    margin: 0 auto;
}

.product {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.product__image-wrapper {
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: #a1a09a 1px solid;
    overflow: hidden;
}

.product__image-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.no__image {
    max-width: 198px;
    max-height: 198px;
    width: 100%;
    height: 100%;
    border: #a1a09a 1px solid;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 26px;
    color: #a1a09a;
    text-transform: uppercase;
    background-image: radial-gradient(#d3d2cf, #FFF);
}

.product__information {
    padding-bottom: 10px;
}

.product__price-wrapper {
    line-height: 28px;
    font-size: 24px;
    font-weight: bold;
}

.product__name-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
}

.product__name-wrapper:hover {
    background-color: #a1a09a;
    border-radius: 10px;
}

.product__name {
    text-decoration: none;
    color: #0a0a0a;
}

.product__name:hover {
    color: #FFF;
}

.product__button {
    all: unset;
    background: darkgreen;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.date {
    color: #a1a09a;
    font-size: 14px;
    font-weight: 500;
}

/* _____________pagination__________ */

.custom-pagination ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.custom-pagination li {
    margin: 0 5px;
}

.custom-pagination li a {
    padding: 8px 12px;
    background: #eee;
    border-radius: 4px;
    text-decoration: none;
    color: darkgreen;
}

.custom-pagination li.active span,
.custom-pagination li a:hover {
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    background: darkgreen;
    color: #eee;
}

.custom-pagination li.disabled span {
    color: #999;
    cursor: not-allowed;
}

/* ____________show___________ */

.product-show__wrapper {
    display: block;
    padding-left: 40px;
    padding-bottom: 80px;
}

.product-show {
    display: flex;
    width: 100%;
    margin: 60px 0 40px;
}

.image-show__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 450px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: #a1a09a 1px solid;
}

.no__image-show {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    font-weight: bold;
    font-size: 32px;
    color: #a1a09a;
    text-transform: uppercase;
    background-image: radial-gradient(#d3d2cf, #FFF);
}

.product-show__information {
    display: block;
    padding-left: 40px;
}

.right-side__container {
    padding: 0 40px;
}

/* ____________slider_____________ */

.slider {
    max-width: 450px;
    max-height: 450px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    border: #a1a09a 1px solid;
}

.slider__line {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.slider__img {
    min-width: 450px;
    overflow: hidden;
    height: auto;
}

.slider__btn-prev {
    position: absolute;
    left: 0;
    top: 47%;
    font-size: 30px;
    color: #a1a09a;
    background-color: transparent;
    border: #a1a09a 1px solid;
    border-radius: 10px;
    line-height: 1;
}

.slider__btn-next {
    position: absolute;
    left: 418px;
    top: 47%;
    font-size: 30px;
    color: #a1a09a;
    background-color: transparent;
    border: #a1a09a 1px solid;
    border-radius: 10px;
    line-height: 1;
}

.slider__btn-prev:hover,
.slider__btn-next:hover {
    color: #d1cccc;
    background-color: #a1a09a;
}

/* ______map________ */

.map {
    width: 600px;
    height: 400px;
    margin-top: 40px;
}

/* _______error/success_______ */

.error__item {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    margin-bottom: 15px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
}

.success__item {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border: 1px solid #c3e6cb;
    margin-bottom: 15px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
}

.field__error {
    border-color: #e3342f;
    background-color: #fff5f5;
}

.field__error-message {
    color: #e3342f;
    font-size: 0.875rem;
    margin-bottom: 10px;
    display: block;
}

/* __________mail_____________ */

.mail__wrapper {
    margin: auto;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    border: darkgreen 2px solid;
    border-radius: 10px;
}

/* _______________admin___________ */

.admin__container {
    margin-top: 80px;
    width: 100%;
    padding: 0 80px;
}

.admin__heading-wrapper {
    width: fit-content;
    margin-bottom: 60px;
    background-color: #cce8d5;
    border-radius: 10px;
    padding: 10px;
}

.admin__heading {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.admin__data-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-bottom: 20px;
}

.admin__item-wrapper {
    width: 50%;
    background-color: #cce8d5;
    border-radius: 10px;
    padding: 10px;
}

/* ___________cart_____________ */

.cart__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    column-gap: 40px;
    background-color: #cce8d5;
    border-radius: 10px;
    margin: 20px;
    width: auto;
}

.product-cart__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
    padding: 10px;
    margin: 10px;
    background-color: #fff5f5;
    border-radius: 10px;
}

.product-cart__wrapper:first-child {
    margin-top: 40px;
}

.product-item {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.product-cart {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.image-cart {
    width: 50px;
    height: 50px;
}

.orders__container {
    margin-top: auto;
    padding-top: 40px;
    width: 100%;
}

.orders__heading {
    display: flex;
    align-items: center;
    margin: 10px;
    background-color: #effdf4;
    border-radius: 10px;
    cursor: pointer;
}

.cart-orders__header {
    padding: 5px 0;
}

.orders__heading-text {
    padding: 10px;
    font-weight: 600;
}

.cart-orders__wrapper {
    margin: 10px;
    background-color: #d6eadd;
    border-radius: 10px;
}

.order__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: #effdf4;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}

.order-item__data{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 5px;
    background-color: #d6eadd;
    border-radius: 10px;
}

.order-item {
    display: flex;
    gap: 40px;
}

.arrow {
    color: darkgreen;
}

.no__image-cart {
    border: #a1a09a 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    color: #a1a09a;
    text-transform: uppercase;
    background-image: radial-gradient(#d3d2cf, #FFF);
    padding: 5px;
}


/* ______________payment____________ */

.payment__container {
    padding: 20px;
    margin: 20px;
    background-color: #d6eadd;
    width: 40%;
    border-radius: 10px;
}

.payment__field {
    margin: 10px 0 20px;
    padding: 5px;
    background-color: #effdf4;
    border-radius: 10px;
}

.card__data {
    padding: 30px 0 10px;
}

.timer__wrapper {
    font-weight: 500;
    color: darkgreen;
    display: flex;
    column-gap: 20px;
}
