/*@import 'tailwindcss';*/
/*@source "../views";*/

/*@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views!*.blade.php';*/
/*@source '../../storage/framework/views!*.php';*/
/*@source '..!**!*.blade.php';*/
/*@source '..!**!*.js';*/

/*@theme {*/
/*    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',*/
/*        'Segoe UI Symbol', 'Noto Color Emoji';*/
/*}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

ul, li {
    list-style-type: none;
}

.alert {
    color: #f61500;
}

.content {
    flex: 1;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;

}

.content_wrapper {
    display: flex;
    width: 100%;
    padding: 40px 0;
}

.category_wrapper {
    padding: 20px;
    border-right: #a1a09a 6px solid;
    min-width: 350px;
}

.category_item_wrapper {
    padding-bottom: 10px;
}

.category_item {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #a1a09a;
    text-transform: uppercase;
}

.category_title {
    padding-top: 40px;
    padding-bottom: 30px;
}

.category_title_item {
    color: #0a0a0a;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.products {
    padding: 0 40px 0 40px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    text-align: center;
    column-gap: 40px;
    row-gap: 40px;
}

.product {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.product_image_wrapper {
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    max-height: 200px;
    max-width: 200px;
    margin-bottom: 10px;
    border: #a1a09a 1px solid;
    overflow: hidden;
}

.product_image_item {
    width: 100%;
    height: auto;
    margin: auto 0;
}

.button_wrapper {
    width: 100%;
    max-width: 1600px;
    padding: 18px;
    text-align: right;
    margin-right: 120px;
    border: none;
    font-size: 18px;
    line-height: 22px;
    display: block;
}

.action_button {
    all: unset;
    margin-right: 60px;
    background: darkgreen;
    color: #FFFFFF;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}

.no_image {
    max-width: 198px;
    max-height: 198px;
    width: 100%;
    height: 100%;
    border: #a1a09a 1px solid;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 26px;
    color: #a1a09a;
    text-transform: uppercase;
    background-image: radial-gradient(#d3d2cf, #FFFFFF);
}

.product_price_wrapper {
    line-height: 28px;
    font-size: 24px;
    font-weight: bold;
}

.product_name_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
}

.product_name_wrapper:hover {
    background-color: #a1a09a;
    border-radius: 10px;
}

.product_name {
    text-decoration: none;
    color: #0a0a0a;
}

.product_name:hover {
    color: #ffffff;
}

.date {
    color: #a1a09a;
    font-size: 14px;
    font-weight: 500;
}

/* ____________show___________*/

.product_show_wrapper {
    display: block;
    padding-left: 40px;
    padding-bottom: 80px;
}

.product_show {
    display: flex;
    width: 100%;
    margin: 60px 0 40px 0;
}

.product_image_wrapper_show {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 450px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: #a1a09a 1px solid;
}

.no_image_show {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    font-weight: bold;
    font-size: 32px;
    color: #a1a09a;
    text-transform: uppercase;
    background-image: radial-gradient(#d3d2cf, #FFFFFF);
}

.product_information_show {
    display: block;
    padding-left: 40px;
}

.product_name_wrapper_show {
    display: flex;
    align-items: center;
}

.product_name_show {
    text-decoration: none;
    color: #0a0a0a;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
}

/*___________create____________*/

.form_wrapper {
    padding-right: 300px;
}

.button_wrapper_create {
    width: 100%;
    max-width: 1600px;
    padding: 40px 0;
    border: none;
    font-size: 18px;
    line-height: 22px;
    display: block;
}

.create_wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-left: 40px;
}

.label_create {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
}

.input_create_wrapper {
    max-width: 600px;
    width: 100%;
    padding-bottom: 20px;
}

.create_wrapper:last-child {
    padding-bottom: 40px;
}

.input_create {
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border: #a1a09a 2px solid;
}

.input_create:focus {
    border: darkgreen 2px solid;
    outline: none;
}

.textarea_create {
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    min-height: 120px;
    width: 100%;
    border: #a1a09a 2px solid;
}

.textarea_create:focus {
    border: darkgreen 2px solid;
    outline: none;
}

.select_create {
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    border: #a1a09a 2px solid;
}

.select_create:focus {
    border: darkgreen 2px solid;
    outline: none;
}

.input_photo_wrapper {
    padding: 20px 0 20px;
    border: none;
    font-size: 18px;
    line-height: 22px;
    display: block;
}

.input_photo {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    cursor: pointer;
}

.label_input_photo {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: darkgreen;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.label_input_photo:hover {
    background-color: #a1a09a;
}

/* ____________destroy____________*/

.content_destroy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.information_destroy {
    padding: 40px 0;
}

.button_wrapper_destroy {
    padding-bottom: 120px;
}

.destroy_button {
    all: unset;
    background: darkgreen;
    color: #FFFFFF;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}


/* _____________pagination__________*/

.custom-pagination ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.custom-pagination li {
    margin: 0 5px;
}

.custom-pagination li a {
    padding: 8px 12px;
    background: #eee;
    border-radius: 4px;
    text-decoration: none;
    color: darkgreen;
}

.custom-pagination li.active span,
.custom-pagination li a:hover {
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    background: darkgreen;
    color: #eee;
}

.custom-pagination li.disabled span {
    color: #999;
    cursor: not-allowed;
}

/* _____________header_____________ */

.header {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
}

.header_logo_wrapper {
    display: flex;
    padding: 2px;
    max-width: 60px;
    margin-right: 18px;
}

.header_logo {
    width: 100%;
    height: auto;
}

.header_container {
    background-color: darkgreen;
}

.header_container_up {
    max-width: 1400px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}

.header_menu {
    display: flex;
}

.header_menu-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.3s linear;
}

.header_menu-user {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.header_menu-link:hover {
    font-size: 16px;
}

.header_menu-link:active {
    color: #F5F5F5;
    font-size: 16px;
}

.header_menu-item {
    display: flex;
    list-style-type: none;
    margin-right: 18px;
    align-items: center;
}

.header_menu-item:last-child {
    margin-right: 0;
}

.header_name_item {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    color: #FFFFFF;
    font-weight: bold;
    transition: all 0.3s linear;
}

.header_name_item:hover {
    font-size: 24px;
}

.button_wrapper_header {
    cursor: pointer;
}

.header_account {
    width: 80%;
    height: auto;
    margin: auto;
}

.header_cart {
    height: 60%;
    margin: auto;
}

/* __________footer_________ */

.footer {
    font-family: "Montserrat", sans-serif;
    background-color: darkgreen;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

/* ____________slider_____________*/

.slider {
    max-width: 450px;
    max-height: 450px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    border: #a1a09a 1px solid;
}

.slider_line {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.slider_img {
    min-width: 450px;
    overflow: hidden;
    height: auto;
}

.slider_btn_prev {
    position: absolute;
    left: 0;
    top: 47%;
    font-size: 30px;
    color: #a1a09a;
    background-color: transparent;
    border: #a1a09a 1px solid;
    border-radius: 10px;
    line-height: 1;
}

.slider_btn_next {
    position: absolute;
    left: 418px;
    top: 47%;
    font-size: 30px;
    color: #a1a09a;
    background-color: transparent;
    border: #a1a09a 1px solid;
    border-radius: 10px;
    line-height: 1;
}

.slider_btn_prev:hover,
.slider_btn_next:hover {
    color: #d1cccc;
    background-color: #a1a09a;
}

/* ____________search_____________ */

.search_create {
    display: flex;
    padding: 20px 0;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    column-gap: 40px;
    width: 100%;
    justify-content: center;
}

.search_wrapper {
    display: flex;
    width: 800px;
    padding-left: 40px;
}

.search_field {
    height: 40px;
    max-width: 800px;
    width: 100%;
    font-size: 18px;
    padding-left: 10px;
    border: #a1a09a 2px solid;
    border-radius: 10px 0 0 10px;
}

.search_field:focus {
    outline: none;
    border: darkgreen 2px solid;
}

.search_nodata {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 100%;
}

.search_nodata_item {
    color: #0a0a0a;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.search_button_wrapper {
    width: 60px;
    height: 40px;
    border: #a1a09a 2px solid;
    border-left: none;
    border-radius: 0 10px 10px 0;
    background-color: darkgreen;
}

.search_button_wrapper:hover {
    background-color: #a1a09a;
}

.search_button {
    width: 50%;
    height: auto;
    color: #FFFFFF;
}

.nodata_img_wrapper {
    max-width: 170px;
    max-height: 170px;
    padding-top: 60px;
    margin-bottom: 20px;
}

.nodata_img {
    width: 100%;
    background-color: #FFFFFF;
}
/* ________filter________ */

.filter {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 70%;
}

.filter_wrapper {
    padding-top:20px;
}

.filter_title {
    font-weight: 600;
}

.filter_category {
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
}

.filter_category:focus {
    outline: none;
    border: darkgreen 2px solid;
}

/* ______sort__________*/

.sort_wrapper {
    display: flex;
    justify-content: end;
    width: 100%;
    font-size: 18px;
}

.sort-form {
    padding: 40px 80px 0 0;
}

.sort_items {
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
}

.sort_items:focus {
    outline: none;
    border: darkgreen 2px solid;
}

/* _________login___________*/

.login_wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-left: 40px;
}

.login_wrapper:last-child {
    padding-bottom: 40px;
}

.login {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
}

.login_input_wrapper {
    max-width: 600px;
    width: 100%;
    padding-bottom: 20px;
}

.login_input {
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border: #a1a09a 2px solid;
}

.login_input:focus {
    border: darkgreen 2px solid;
    outline: none;
}

.redirect_register_wrapper {

}

.redirect_register {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #a1a09a;
    cursor: pointer;
}

/* _______verify_______*/

.notification_wrapper {
    display: flex;
    flex-direction: column;
    padding: 100px;
    align-items: center;
    margin: 0 auto;
}

.notification {
    font-size: 18px;
    font-weight: 500;
}
